{% load static %}
<header>
    <div class="header-container">
        <div class="logo">
            <img src="{% static 'Partials/images/Logo.jpg' %}" alt="Logo">
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search venues...">
        </div>
        <div class="email-id">
            {% if user.is_authenticated %}
                <p>{{ user.email }}</p>
            {% else %}
                <p>Guest User</p>
            {% endif %}
        </div>
    </div>
</header>
